---
import { contact } from "../data/contact";
---

<div class="flex flex-wrap gap-x-6 gap-y-3">
  {
    contact.map(({ label, href }) => (
      <a href={href} class="ink-link">
        {label}
      </a>
    ))
  }
</div>
