---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;

const { class: className, ...sectionProps } = Astro.props;
---

<section
  {...sectionProps}
  class:list={["max-w-site mx-auto px-4 py-10 sm:px-8", className]}
>
  <slot />
</section>
