---
import Layout from "./layout.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    ogImage: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  ogImage={frontmatter.ogImage}
>
  <div class="border-b border-stone-300/50 px-5 pb-5 sm:px-20">
    <article
      class="prose prose-stone sm:prose-lg prose-a:text-cyan-600 mx-auto"
    >
      <slot />
    </article>
  </div>
</Layout>
