---
import Layout from "./layout.astro";
import metadata from "../../metadata.json";
---

<Layout
  title={metadata.name}
  description={metadata.description}
  ogImage={metadata.shareCard}
>
  <div class="border-b border-stone-300/50 px-5 pb-5 sm:px-20">
    <article
      class="prose prose-stone sm:prose-lg prose-a:text-cyan-600 mx-auto"
    >
      <slot />
    </article>
  </div>
</Layout>
