---
import Layout from "./layout.astro";
import Section from "../components/section.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    ogImage: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  ogImage={frontmatter.ogImage}
>
  <Section>
    <article
      class="prose prose-stone sm:prose-lg prose-a:text-cyan-600 max-w-none"
    >
      <slot />
    </article>
  </Section>
</Layout>
